[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psutil = "*"
folioclient = "*"
gooey = "*"
pymarc = "*"
python-dateutil = "*"
sickle = "*"
xmltodict = "*"

[dev-packages]

