[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
folioclient = "*"
gooey = "*"
pymarc = "*"
python-dateutil = "*"
sickle = "*"
xmltodict = "*"

[dev-packages]

[requires]
python_version = "3.8"
